/.project
.vs/slnx.sqlite
.vs/lagrace-page/FileContentIndex/3d68aed4-c7db-4f20-80e7-fb61266fd08c.vsidx
.vs/lagrace-page/FileContentIndex/4fbc91ef-6161-4f7f-9136-d7b1311bf09d.vsidx
.vs/lagrace-page/FileContentIndex/5284c34b-b4a5-4898-a1f7-29722b3736f7.vsidx
.vs/lagrace-page/FileContentIndex/5cf74f4e-7a08-4569-85cf-42096c4d2b2a.vsidx
.vs/lagrace-page/FileContentIndex/79ad92f5-c02b-44ce-9592-8eca3d439e0a.vsidx
.vs/
